<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    
    
    <link rel="icon" href="{{ SETTINGS.store_icon.url }}">
    <title>{{ SETTINGS.meta_title }}</title>
    <meta name="description" content="{{ SETTINGS.meta_tag_description }}">
    <meta name="author" content="Busybeeshoppers">


    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link href="/static/store/assets/new-tmp-assets/vendor/unicons-2.0.1/css/unicons.css" rel='stylesheet'>
    <link href="/static/store//assets/css/styles.css" rel="stylesheet">
    <link href="/static/store/assets/new-tmp-assets/css/step-wizard.css" rel="stylesheet">
    
    <link href="/static/store/assets/new-tmp-assets/css/responsive.css" rel="stylesheet">
    <link href="/static/store/assets/new-tmp-assets/css/night-mode.css" rel="stylesheet">

    <link href="/static/store/assets/new-tmp-assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/static/store/assets/new-tmp-assets/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="/static/store/assets/new-tmp-assets/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/static/store/assets/new-tmp-assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/store/assets/new-tmp-assets/vendor/semantic/semantic.min.css">
    <link rel="stylesheet" href="/static/store/assets/new-tmp-assets/css/bottom-tabs.css" >


    <link rel="stylesheet" href="/static/store/assets/css/login.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <style>
      .wrapper {
        padding-bottom: 0px;
      }

      .about-img img {
        width: 80%;
      }
      @media (max-width: 575.98px) {

        .section-last{
          padding: 1rem!important;
        }

        .section-last .container div{
          padding: 2rem!important;
        }
      }

      
    </style>
</head>

<body>

  <header class="header clearfix" style="border-bottom: 2px solid #CF3774;">
    <div class="top-header-group">
        <div class="top-header">
            <div class="res_main_logo">
                <a href="/">
                    <img src="/static/store/homepage/nhome/css/images/logo.png" alt="Busy Bee Shoppers">
                </a>
            </div>
            <div class="main_logo" id="logo">
                <a href="/">
                    <img src="/static/store/homepage/nhome/css/images/logo.png" alt="Busy Bee Shoppers">
                </a>
                <a href="/">
                    <img class="logo-inverse" src="/static/store/homepage/nhome/css/images/logo.png" alt="Busy Bee Shoppers">
                </a>
            </div>
            
            
            <div class="header_right">
                <ul>
                    <li class="d-none d-md-inline-block">
                      <a href="{% url 'store" class="item channel_item" style="font-weight: 900; font-size: large; color: #cf3774;">Start Shopping</a>
                    </li>
                    <li class="d-none d-md-inline-block ml-3">
                      <a href="{% url 'signup' 'vendor" class="item channel_item" style="font-weight: 900; font-size: large; color: #cf3774;">Become a Seller</a>
                    </li>
                    <li class="d-none d-md-inline-block ml-3">
                      <a href="{% url 'signup' 'customer" class="item channel_item" style="font-weight: 900; font-size: large; color: #cf3774;">Create Account</a>
                    </li>
                    <li class="d-none d-md-inline-block ml-3">
                      <a href="{% url 'login" class="item channel_item" style="font-weight: 900; font-size: large; color: #cf3774;">Login</a>
                    </li>
                    <li class="ui dropdown d-md-none">
                        <a href="#" class="opts_account ml-0 p-0" style="color: #cf3774;">
                            <i class="uil uil-align-justify" style="font-size: xx-large; font-weight: 900;"></i>
                        </a>
                        <div class="menu dropdown_account">
                            
                            <a href="{% url 'store" class="item channel_item"><i
                                class="uil uil-shopping-trolley icon__1"></i>Start Shopping</a>
                            <a href="{% url 'signup' 'vendor" class="item channel_item"><i
                                    class="uil uil-user-plus icon__1"></i>Become a Seller</a>
                            <a href="{% url 'signup' 'customer" class="item channel_item"><i
                                    class="uil uil-user-plus icon__1"></i>Create New Account</a>
                            <a href="{% url 'login" class="item channel_item"><i
                                class="uil uil-lock-alt icon__1"></i>Login</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    
</header>
    


    


    <div class="wrapper bg-white">

      <div class="life-gambo">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div style="display: flex; align-items:center; height: 100%; flex-direction: column; justify-content: center;">
                      <div class="default-title left-text">
                        <h2 class="text-center">Become a Busybee Shopper and get Groceries
                          Delivered to you anywhere in Abuja Nigeria.</h2>
                      </div>
                      <div class="">
                          <p class="text-center">Join the leagues of busy professionals who enjoy fast
                            delivery of groceries to their homes and offices without moving an inch</p>
                      </div>

                      <div class="mt-5">
                        <a href="" class="button add-cart-btn hover-btn pt-3 pb-3" >Create A New Account</a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="/static/store/homepage/images/7-removebg-preview.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="default-dt mb-5 mt-5">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <div class="title129">
                      <h2>BusyBee Shoppers - Your groceries shopping assistance in Abuja, Nigeria.</h2>
                      <p class="text-light">With our service, you can start with your selections accross different categories, make payments using our secure
                        card payment and enjoy hassle-free delivery to any location in Abuja, Nigeria.</p>
                      
                  </div>
              </div>
          </div>
      </div>


      <div class="section145 class mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title-tt d-block">
                        <div class="main-title-left text-center">
                            <h2 style="font-size: small;" class="text-white">Our Popular Categories</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="owl-carousel cate-slider owl-theme">
                        <div class="item">
                            <a href="javascript:void(0)" class="category-item">
                                <div class="cate-img">
                                    <img src="/static/store/homepage/images/8.png" alt="">
                                </div>
                                <h4>Stationaries</h4>
                            </a>
                        </div>
                        <div class="item">
                          <a href="javascript:void(0)" class="category-item">
                              <div class="cate-img">
                                  <img src="/static/store/homepage/images/6.png" alt="">
                              </div>
                              <h4>Drinks &amp; Beverages</h4>
                          </a>
                        </div>
                        <div class="item">
                          <a href="javascript:void(0)" class="category-item">
                              <div class="cate-img">
                                  <img src="/static/store/homepage/images/5.png" alt="">
                              </div>
                              <h4>Health and Beauty</h4>
                          </a>
                        </div>
                        <div class="item">
                          <a href="javascript:void(0)" class="category-item">
                              <div class="cate-img">
                                  <img src="/static/store/homepage/images/3.png" alt="">
                              </div>
                              <h4>Canned Goods</h4>
                          </a>
                        </div>
                        <div class="item">
                          <a href="javascript:void(0)" class="category-item">
                              <div class="cate-img">
                                  <img src="/static/store/homepage/images/5.png" alt="">
                              </div>
                              <h4>Household Supplies</h4>
                          </a>
                        </div>
                        <div class="item">
                          <a href="javascript:void(0)" class="category-item">
                              <div class="cate-img">
                                  <img src="/static/store/homepage/images/4.png" alt="">
                              </div>
                              <h4>Bread and Bakery</h4>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


  </div>


  <div class="life-gambo bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-2 order-md-0">
                <div style="display: flex; align-items:center; height: 100%; flex-direction: column; justify-content: center;">
                  <div class="default-title left-text">
                    <h2>Buy in Bulk</h2>
                  </div>
                <div class="about-content ">
                    <p class="text-center">Want to buy our grocceries in large quantities and reduce the buying cost buy percentage? We got you covered.</p>
                </div>

                <div class="mt-3">
                  <a href="" class="btn btn-outline-primary">Create A New Account</a>
                </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="about-img mb-3">
                    <img src="/static/store/homepage/images/1.png" style="width: 80%; margin: auto;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>



<div class="life-gambo pb-5 pt-5" style="background-color: #fdfbfb;">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
            <div class="about-img" style="width: 60%; margin: 0 auto;">
                <img src="/static/store/images/about.svg" alt="">
            </div>
        </div>

          <div class="col-lg-6">
            <div style="display: flex; align-items:center; height: 100%; flex-direction: column; justify-content: center;">
              <div class="card pt-4 pb-4 pr-3 pl-3 text-white" style="max-width: 500px; background-color: #D2437C; border-radius: 8px;">
                <h1 style="font-weight: 900;">Become a seller</h1>
                <p style="font-size: 1.25rem;" class="text-white">Increase your income by listing your products and selling to busybee shoppers. 
                  <br>Get approved in minutes (T&amp;C applies)
                </p>
          
                <div>
                  <a href="{% url 'signup' 'vendor" style="color: #D2437C; border-radius: 20px; font-weight: 900; font-size: x-large;" class="btn btn-light btn-lg">Start selling</a>
                </div>
              </div>
            </div>
          </div>
          
      </div>
  </div>
</div>



<section class="section-last bg--primary p-5" style="background-color: #FF66C4;">
  <div class="container">
    <div class="bg-light p-5 text-center" style="max-width: 748px; margin: 0 auto; border-radius: 25px;">
      <h2 style="font-weight: 600;">Busybee Shoppers - Everything you need to buy anytime in one place in Abuja, Nigeria.</h2>
      <p style="font-size: 1.25rem; text-align: left;">Our system gives you access to shop your grocceries regardless of your schedule. We save your time and take
        away the stress you get from shopping through our quality delivery while allowing you to focus on what's most
        important to you.</p>
    </div>
  </div>
</section>
        



    </div>

    <footer class="footer" style="background-color: #fdfbfb;">
      <div class="footer-last-row">
        <div class="container">
          <div class="copyright-text">
              <i class="uil uil-copyright"></i>Copyright 2020 <b>BusyBeeShoppers</b> . All rights reserved
          </div>
        </div>
    </div>
    </footer>


    <script src="/static/store/assets/new-tmp-assets/js/jquery-3.3.1.min.js"></script>
    <script src="/static/store/assets/new-tmp-assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/store/assets/new-tmp-assets/vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="/static/store/assets/new-tmp-assets/vendor/semantic/semantic.min.js"></script>
    <script src="/static/store/assets/new-tmp-assets/js/jquery.countdown.min.js"></script>
    <script src="/static/store/assets/new-tmp-assets/js/custom.js"></script>
    <script src="/static/store/assets/new-tmp-assets/js/product.thumbnail.slider.js"></script>
    <script src="/static/store/assets/new-tmp-assets/js/offset_overlay.js"></script>
    <script src="/static/store/assets/new-tmp-assets/js/night-mode.js"></script>

    <!-- ./** Sweet alert **/-->
    <script src="/static/store/assets/sweetalert2.js"></script>
    <script src="/static/store/assets/jquery.countdown.min.js"></script>


    
</body>

</html>