<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, shrink-to-fit=9">

  
  <link rel="icon" href="{{ SETTINGS.store_icon.url }}">
  <title>{{ SETTINGS.meta_title }}</title>
  <meta name="description" content="{{ SETTINGS.meta_tag_description }}">
  <meta name="author" content="Busybeeshoppers">


  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/store/assets/new-tmp-assets/vendor/unicons-2.0.1/css/unicons.css" rel='stylesheet'>
  <link href="/static/store/assets/new-tmp-assets/css/style.css" rel="stylesheet">
  <link href="/static/store/assets/new-tmp-assets/css/step-wizard.css" rel="stylesheet">

  <link href="/static/store/assets/new-tmp-assets/css/responsive.css" rel="stylesheet">
  <link href="/static/store/assets/new-tmp-assets/css/night-mode.css" rel="stylesheet">

  <link href="/static/store/assets/new-tmp-assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/store/assets/new-tmp-assets/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
  <link href="/static/store/assets/new-tmp-assets/vendor/OwlCarousel/assets/owl.theme.default.min.css"
    rel="stylesheet">
  <link href="/static/store/assets/new-tmp-assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
    href="/static/store/assets/new-tmp-assets/vendor/semantic/semantic.min.css">
  <link rel="stylesheet" href="/static/store/assets/new-tmp-assets/css/bottom-tabs.css">


  <link rel="stylesheet" href="/static/store/assets/css/login.css">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>


  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Beau+Rivage&family=Roboto+Slab&family=Ubuntu+Mono&display=swap"
    rel="stylesheet">
  <title>Shopping</title>
  <link rel="stylesheet" href="/static/store/homepage/nhome/css/style.css">
  <script src="https://kit.fontawesome.com/324f48ff45.js" crossorigin="anonymous"></script>

  <style>
    .wrapper {
      padding-bottom: 0px;
    }

    .about-img img {
      width: 80%;
    }

    @media (max-width: 575.98px) {

      .section-last {
        padding: 1rem !important;
      }

      .section-last .container div {
        padding: 2rem !important;
      }
    }
  </style>
</head>

<body>

  <header class="header clearfix" style="box-shadow: 2px 2px 10px rgb(200 98 169 / 69%);">
    <div class="top-header-group">
      <div class="top-header">
        <div class="res_main_logo">
          <a href="/">
            <img
              src="/static/store/homepage/nhome/css/images/logo.png"
              alt="Busy Bee Shoppers">
          </a>
        </div>
        <div class="main_logo" id="logo">
          <a href="/">
            <img
              src="/static/store/homepage/nhome/css/images/logo.png"
              alt="Busy Bee Shoppers">
          </a>
          <a href="/">
            <img class="logo-inverse"
              src="/static/store/homepage/nhome/css/images/logo.png"
              alt="Busy Bee Shoppers">
          </a>
        </div>


        <div class="header_right">
          <ul>
            <li class="d-none d-md-inline-block">
              <a href="{% url 'store" class="item channel_item"
                style="font-weight: 900; font-size: large; color: #cf3774;">Start Shopping</a>
            </li>
            <li class="d-none d-md-inline-block ml-3">
              <a href="{% url 'signup' 'vendor" class="item channel_item"
                style="font-weight: 900; font-size: large; color: #cf3774;">Become a Seller</a>
            </li>
            <li class="d-none d-md-inline-block ml-3">
              <a href="{% url 'signup' 'customer" class="item channel_item"
                style="font-weight: 900; font-size: large; color: #cf3774;">Create Account</a>
            </li>
            <li class="d-none d-md-inline-block ml-3">
              <a href="{% url 'login" class="item channel_item"
                style="font-weight: 900; font-size: large; color: #cf3774;">Login</a>
            </li>
            <li class="ui dropdown d-md-none">
              <a href="#" class="opts_account ml-0 p-0" style="color: #cf3774;">
                <i class="uil uil-align-justify" style="font-size: xx-large; font-weight: 900;"></i>
              </a>
              <div class="menu dropdown_account">

                <a href="{% url 'store" class="item channel_item"><i
                    class="uil uil-shopping-trolley icon__1"></i>Start Shopping</a>
                <a href="{% url 'signup' 'vendor" class="item channel_item"><i
                    class="uil uil-user-plus icon__1"></i>Become a Seller</a>
                <a href="{% url 'signup' 'customer" class="item channel_item"><i
                    class="uil uil-user-plus icon__1"></i>Create New Account</a>
                <a href="{% url 'login" class="item channel_item"><i class="uil uil-lock-alt icon__1"></i>Login</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>



  </header>






  <div class="wrapper bg-white">

    <section class="header-section">
      <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6 order-md-2 slide-left"><img src="/static/store/homepage/nhome/css/images/7.png"
              class="w-100" style="opacity:0.8;" /></div>

          <div class="col-md-6 header-text order-md-1 slide-right">
            <h4 class="text-center text-md-start">Become a Busybee Shopper and get Groceries Delivered to you anywhere
              in
              Abuja Nigeria.</h4>
            <p class="text-muted lead-md mb-lg-8 mb-6 text-md-start text-center">Join the leagues of busy professionals
              who enjoy fast delivery of groceries to their homes and offices without moving an inch</p>

            <div class="text-center text-md-start mb-6">
              <a href="{% url 'store" class="btn btn-md header-btn me-1">Start Shopping</a>
              <a href="{% url 'signup" class="btn btn-md header-btn btn-primary-soft">Create Account</a>
            </div>

          </div>


        </div>


    </section>

    <!--Feature Section-->
    <section class="feature-section">
      <div class="container">
        <div class="row">


          <div class=" col-3 d-flex">
            <i class="bi bi-truck feature-icons me-1"></i>
            <div>
              <h6>Smooth delivery</h6>
              <p class="d-md-block d-none ">Smooth delivery</p>
            </div>
          </div>
          <div class="col-3 d-flex">
            <i class="bi bi-shield-check feature-icons me-1"></i>
            <div>
              <h6>Secure Payment</h6>
              <p class="d-md-block d-none">100% Guaranteed secure payments</p>
            </div>
          </div>
          <div class="col-3 d-flex">
            <i class="bi bi-headset feature-icons me-1"></i>
            <div>
              <h6>24/7 support</h6>
              <p class="d-md-block d-none">Anywhere and Anytime</p>
            </div>
          </div>
          <div class="col-3 d-flex">
            <i class="bi bi-hand-thumbs-up feature-icons me-1"></i>
            <div>
              <h6>Daily Offer</h6>
              <p class="d-sm-block d-none">Discount up to 50% off</p>
            </div>
          </div>







        </div>



      </div>

    </section>
    <!--Shape divider svg-->
    <div class="svg pr pt-10">
      <div class="custom-shape-divider-bottom-1649376265">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"
            class="shape-fill"></path>
        </svg>
      </div>
    </div>

    <section class="pt-10 bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-8 col-md-10 text-center text-white">
            <h4 class="fw-normal">BusyBee Shoppers </h4>
            <h6 class="mb-3 lead">Your groceries shopping assistance in Abuja, Nigeria.</h6>
            <p class="mb-6 text-light">With our service, you can start with your selections accross different categories, make
              payments using our secure card payment and enjoy hassle-free delivery to any location in Abuja, Nigeria.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="category-section bg pr">
      <div class="container">
        <div class="row">

          <div class="col-12">
            <div class="carousel bg" data-flickity='{ "autoPlay": true }'>

              <div class="card card-border carousel-cell">
                <div class="card-body text-center">
                  <div class="img-fluid mb-2 mx-auto"><img src="/static/store/homepage/nhome/css/images/1.png"
                      class="carousel-img" /></div>
                  <p class="lead text-center">Fruits and Vegetables</p>
                  <a href="{% url 'store" class="btn bg bt-br">Shop</a>
                </div>
              </div>



              <div class="card card-border carousel-cell">
                <div class="card-body text-center">
                  <div class="img-fluid mb-2 mx-auto"><img src="/static/store/homepage/nhome/css/images/6.png"
                      class="carousel-img" /></div>
                  <p class="lead">Drinks and Beverages</p>
                  <a href="{% url 'store" class="btn bg bt-br">Shop</a>
                </div>
              </div>

              <div class="card card-border carousel-cell">
                <div class="card-body text-center">
                  <div class="img-fluid mb-2 mx-auto"><img src="/static/store/homepage/nhome/css/images/2.png"
                      class="carousel-img" /></div>
                  <p class="lead">Household Supplies</p>
                  <a href="{% url 'store" class="btn bg bt-br">Shop</a>
                </div>
              </div>

              <div class="card card-border carousel-cell">
                <div class="card-body text-center">
                  <div class="img-fluid mb-2 mx-auto"><img src="/static/store/homepage/nhome/css/images/5.png"
                      class="carousel-img" /></div>
                  <p class="lead">Health and Beauty</p>
                  <a href="{% url 'store" class="btn bg bt-br">Shop</a>
                </div>
              </div>

              <div class="card card-border carousel-cell">
                <div class="card-body text-center">
                  <div class="img-fluid mb-2 mx-auto"><img src="/static/store/homepage/nhome/css/images/4.png"
                      class="carousel-img" /></div>
                  <p class="lead">Bread and Bakery</p>
                  <a href="{% url 'store" class="btn bg bt-br">Shop</a>
                </div>
              </div>

              <div class="card card-border carousel-cell">
                <div class="card-body text-center">
                  <div class="img-fluid mb-2 mx-auto"><img src="/static/store/homepage/nhome/css/images/8.png"
                      class="carousel-img" /></div>
                  <p class="lead">Stationeries</p>
                  <a href="{% url 'store" class="btn bg bt-br">Shop</a>
                </div>
              </div>

              <div class="card card-border carousel-cell">
                <div class="card-body text-center">
                  <div class="img-fluid mb-2 mx-auto"><img src="/static/store/homepage/nhome/css/images/3.png"
                      class="carousel-img" /></div>
                  <p class="lead">Canned Goods</p>
                  <a href="{% url 'store" class="btn bg bt-br">Shop</a>
                </div>
              </div>


            </div>


          </div>
        </div>
      </div>


    </section>


    <section class="cta-section">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-4">
            <div class="dt-div text-md-start text-center">
              <h6 class="mb-3">SPECIAL OFFER</h6>
              <h2 class="mb-3" style=" font-size: 3.25rem;">Whenever you buy in bulk</h2>
              <h6 class="mb-6">we reduce the buying cost per percentage.</h6>
              <a href="{% url 'store" class="btn btn-dark">Shop Now</a>
            </div>
          </div>
          <div class="col-md-8"><img src="/static/store/homepage/nhome/css/images/1.png" class="w-100"
              style="opacity:0.8;" /></div>
        </div>
      </div>

    </section>

    <section class="seller-section bg pr">
      <div class="custom-shape-divider-top-1649384057">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"
            class="shape-fill"></path>
        </svg>
      </div>
      <div class="container">
        <div class="row justify-content-center align-items-center">


          <div class="col-md-6 order-md-2 text-md-start text-center text-white">

            <h1 class="mb-3 fw-normal">Become A Seller</h1>
            <h6 style="font-size: 1.5rem;">Increase your income by listing your products and selling to busybee
              shoppers.
            </h6>
            <p class="mb-6 text-white"> Get approved in minutes (T&C applies)</p>
            <a href="{% url 'signup' 'vendor" class="btn btn-dark">Start Selling</a>

          </div>
          <div class="col-md-6 order-md-1"><img src="/static/store/homepage/nhome/css/images/delivery-img2.png" style="max-width: 100%" /></div>


        </div>
      </div>
    </section>

    <section class="product-section pr">
      <div class="custom-shape-divider-top-1642280267">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path
            d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
            opacity=".25" class="shape-fill"></path>
          <path
            d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
            opacity=".5" class="shape-fill"></path>
          <path
            d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
            class="shape-fill"></path>
        </svg>
      </div>
      <div class="container px-4 pr">


        <div class="col-md-5 p-lg-5 my-5">
          <h1 class=" fw-normal">Busybee Shoppers</h1>
          <h5 class="">Everything you need to buy anytime in one place in Abuja, Nigeria.</h5>
          <p class="">Our system gives you access to shop your grocceries regardless of your schedule. We save your time
            and take away the market-runs stress while allowing you to focus on what's most important to you.</p>
          <a class="btn btn-outline-secondary" href="{% url 'store">Start Shopping</a>
        </div>






      </div>
    </section>




  </div>

  <footer class="footer" style="background-color: #fdfbfb;">
    <div class="footer-last-row">
      <div class="container">
        <div class="copyright-text">
          <i class="uil uil-copyright"></i>Copyright 2020 <b>BusyBeeShoppers</b> . All rights reserved
        </div>
      </div>
    </div>
  </footer>


  <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script src="/static/store/assets/new-tmp-assets/js/jquery-3.3.1.min.js"></script>
  <script src="/static/store/assets/new-tmp-assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/store/assets/new-tmp-assets/vendor/OwlCarousel/owl.carousel.js"></script>
  <script src="/static/store/assets/new-tmp-assets/vendor/semantic/semantic.min.js"></script>
  <script src="/static/store/assets/new-tmp-assets/js/jquery.countdown.min.js"></script>
  <script src="/static/store/assets/new-tmp-assets/js/custom.js"></script>
  <script src="/static/store/assets/new-tmp-assets/js/product.thumbnail.slider.js"></script>
  <script src="/static/store/assets/new-tmp-assets/js/offset_overlay.js"></script>
  <script src="/static/store/assets/new-tmp-assets/js/night-mode.js"></script>

  <!-- ./** Sweet alert **/-->
  <script src="/static/store/assets/sweetalert2.js"></script>
  <script src="/static/store/assets/jquery.countdown.min.js"></script>

  <script>
    var csrf_token = '{{csrf_token}}';
  </script>
  <script src="/static/store/assets/js/base.js"></script>




  <script src="/static/store/homepage/nhome/app.js"></script>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>



</body>

</html>